<html>

<head>
    <title>{% block title %}{% endblock %} - My Webpage</title>

    <link rel="stylesheet" href="./public/templates/css/w3.css">
    <link rel="stylesheet" href="./public/templates/css/base.css"> {% block css %}{% endblock %}
    {% block header_js %}{% endblock %}
</head>

<body>
    <div>
        <div class="dropdown" style="float:right;">
            <button class="dropbtn">並び替え▼</button>
            <div class="dropdown-content">
                <a class="dropdown-item" id="create_date">作成日付順</a>
                <a class="dropdown-item" id="views_count">閲覧数順</a>
                <a class="dropdown-item" id="favorited_count">お気に入り順</a>
            </div>
        </div>
        <h1 style="text-align: center;">
            <a href="" style="text-decoration: none;">Pixiv Image List</a>
        </h1>

        <!-- ナビメニュー部分 -->
        <nav class="nav_menu">
            <ul>
                <div class="toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <li>
                    <div class="group">
                        <input id="user_images" type="text" placeholder="Pixivのuser_idを入力" src="/">
                        <div class="text_underline"></div>
                     </div>
                </li>
                {% for user in side_menu_member %}
                <li><a class="side_menu_user" id="{{ user['user_id'] }}">{{ user['user_name'] }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>

    {% block content %}{% endblock %}

    {% block footer_js %}{% endblock %}
    <script>
    </script>
</body>

</html>